<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>绩效科评优材料管理页面</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb">
            <a href="">首页</a> <a href="">绩效管理</a> <a href="">员工绩效管理</a>
            <a> <cite>绩效科审核评优材料</cite></a>
		</span>
    <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="departmentSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" id = "year" name="year" placeholder="编制年份查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 140px;">
                            <input type="text" name="createDate" placeholder="编制日期查询" autocomplete="off"
                                   class="layui-input laydate search-laydate" id="createDate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 80px;">
                            <input type="text" name="id" placeholder="按序号查询"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <label>
                                <select name="status">
                                    <option style="display: none" value="">请选择状态</option>
                                    <option value="待绩效科复核">待绩效科复核</option>
                                    <option value="待经营管理部主管复核">待经营管理部主管复核</option>
                                    <option value="完结">完结</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="toolbar">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <label class="layui-form-label"
                                       style="width: 110px; line-height: 1.1; padding: 9px 0px;">绩效科复核&nbsp;&nbsp;</label>
                                <div class="layui-input-inline" style="width: 140px;">
                                    <select name="classReview" id="classReview">
                                        <option value="优">优</option>
                                        <option value="良">良</option>
                                        <option value="中">中</option>
                                        <option value="不合格">不合格</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm"
                                        lay-submit="" lay-filter="confirm">一键审核
                                </button>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit=""
                                        lay-filter="retreat">撤销审核
                                </button>
                            </div>
                        </form>
                    </script>
                    <!--行工具栏-->
                    <script type="text/html" id="tool">
                        {{# if(d.status != '取消') {}}
                        <a lay-event="edit" title="修改"><i class="layui-icon">&#xe642;</i></a>
                        {{# } }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });
        //年选择器
        laydate.render({
            elem: '#year'
            ,type: 'year'
        });

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        // 一键审核
        form.on('submit(confirm)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id),
                data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            // 评优材料id列表
            var excellentStateDetailIds = [];
            data.forEach(function (item) {
                excellentStateDetailIds.push(item.id);
            });
            layer.load();
            $.ajax({
                type: 'POST',
                url: '/system/entry-excellent-state-detail/batchAudit',
                data: {
                    "excellentStateDetailIds": excellentStateDetailIds,
                    "classReview": $('#classReview').find("option:selected").val(),
                },
                success: function (result) {
                    layer.closeAll();
                    layer.msg(result.msg);
                    if (result.status === 200) {
                        table.reload('dataTable');
                    }
                }
            });
            return false;
        });
        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/entry-excellent-state-detail/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {
                statusOr:true
            },
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 80
                    },
                    {
                        field: 'id',
                        title: '序号',
                        width: 50
                    },
                    {
                        field: 'mergeNo',
                        title: '履职评价说明表编号，',
                        width: 130
                    },
                    {
                        field: 'status',
                        title: '申报材料复核状态',
                        width: 130
                    },
                    {
                        field: 'workEvents',
                        title: '工作事件',
                        width: 130
                    },
                    {
                        field: 'mainUserName',
                        title: '主担',
                        width: 130
                    },
                    {
                        field: 'nextUserName',
                        title: '次担',
                        width: 130
                    },
                    {
                        field: 'actualCompleteDate',
                        title: '实际完成时间',
                        width: 130
                    },
                    {
                        field: 'oriTarget',
                        title: '原创新或超越目标',
                        width: 200
                    },
                    {
                        field: 'actualTarget',
                        title: '实际创新或超越目标',
                        width: 200
                    },
                    {
                        field: 'innovative',
                        title: '成功展示或创新工作描述',
                        width: 200
                    },
                    {
                        field: 'note',
                        title: '备注',
                        width: 130
                    },
                    {
                        field: 'departmentName',
                        title: '评价部门',
                        width: 130
                    },
                    {
                        field: 'createName',
                        title: '编制人',
                        width: 130
                    },
                    {
                        field: 'auditName',
                        title: '审核人',
                        width: 130
                    },
                    {
                        field: 'auditDate',
                        title: '审核日期',
                        width: 130
                    },
                    {
                        field: 'createDate',
                        title: '编制日期',
                        width: 130
                    },
                    {
                        field: 'ministerReview',
                        title: '经营管理部主管复核',
                        width: 130
                    },
                    {
                        field: 'auditNote',
                        title: '审核意见',
                        width: 130
                    },
                    {
                        field: 'classReview',
                        title: '绩效科复核',
                        width: 130
                    },
                    {
                        field: 'ministerReviewUser',
                        title: '经营管理部主管复核人名称',
                        width: 130
                    },
                    {
                        field: 'ministerReviewDate',
                        title: '经营管理部主管复核日期',
                        width: 130
                    },
                    {
                        field: 'classReviewUser',
                        title: '绩效科复核人名称',
                        width: 130
                    },
                    {
                        field: 'classReviewDate',
                        title: '绩效科复核日期',
                        width: 130
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    }
                ]
            ]
        });

        form.on('submit(retreat)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id),
                data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            let flag = false;
            let msg = "";
            var excellentStateDetailIds = [];
            data.forEach(function (item) {
                if (item.status == 5) {
                    msg = msg ? msg + ',' + item.noticeNo : item.noticeNo;
                    flag = true;
                }
                excellentStateDetailIds.push(item.id);
            });

            layer.confirm('确定撤销审核吗？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-excellent-state-detail/PerformanceRetreat',
                    data: {
                        "excellentStateDetailIds": excellentStateDetailIds,
                    },
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.status == 200) {
                            table.reload('dataTable');
                            laydate.render(
                                {
                                    elem: this,
                                    //更换触发方式
                                    trigger: 'click',
                                    type: 'date',
                                    value: new Date()
                                });
                        }
                    }
                })
            });
            return false;
        });

        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { // 修改
                // 不能修改取消状态下的事件请单
                if (data.status === '取消') {
                    layer.msg('不能修改取消状态下的事件请单');
                    return false;
                }
                layer.open({
                    type: 2,
                    title: '序号为' + data.id + '的评优材料修改',
                    area:
                        [
                            $(window).width() * 0.3 + 'px',
                            $(window).height() - 400 + 'px'
                        ],
                    content: '/system/entry-excellent-state-detail/edit/' + data.id,
                    maxmin: true,
                    scrollbar: true
                });
            }
        });
    });

    // 部门查询下拉列表
    let departmentSelect = xmSelect.render({
        el: '#departmentSelect', // 绑定
        language: 'zn',
        data: [[${departmentNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '部门查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 20,
        style: {
            width: '160px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'departmentIds',// 传到后端选择的departmentId集合字符串
    });
</script>
</body>
</html>
