<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>履职回顾评优提交审核</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb">
            <a href="">首页</a> <a href="">总部员工绩效</a> <a href="">回顾评优管理</a>
            <a> <cite>履职回顾评优提交审核</cite></a>
		</span>
    <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <!--部门下拉框-->
                        <div class="layui-inline layui-show-xs-block">
                            <div id="departmentSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" id="year" name="year" placeholder="申报年份查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="createDate" placeholder="编制日期" autocomplete="off"
                                   class="layui-input laydate search-laydate" id="createDate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <label>
                                <select name="status">
                                    <option style="display: none" value="">请选择状态</option>
                                    <option value="待提交审核">待提交审核</option>
                                    <option value="待绩效科复核">待绩效科复核</option>
                                    <option value="待经管部主管复核">待经管部主管复核</option>
                                    <option value="完结">完结</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="toolbar">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="confirm">提交审核
                                </button>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit=""
                                        lay-filter="retreat">撤销提交
                                </button>
                            </div>
                        </form>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });
        //年选择器
        laydate.render({
            elem: '#year'
            , type: 'year'
        });

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });

        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/entry-excellent-state-detail/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {
                status: '待提交审核'
            },
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        align: 'center',
                        width: 80,
                        rowspan: 2
                    },
                    {
                        field: 'status',
                        fixed: 'left',
                        align: 'center',
                        title: '状态',
                        width: 100,
                        rowspan: 2,
                        templet: function (data) {
                            if (data.status === '待提交审核') {
                                return '<span class="layui-badge layui-bg">待提交审核</span>'
                            } else {
                                return data.status
                            }
                        }
                    },
                    {
                        field: 'departmentName',
                        title: '部门',
                        align: 'center',
                        width: 80,
                        rowspan: 2
                    },
                    {
                        field: 'planningWork',
                        title: '对应工作事件的计划内容',
                        align: 'center',
                        width: 150,
                        rowspan: 2
                    },
                    {
                        field: 'mainUserName',
                        title: '主担',
                        align: 'center',
                        width: 50,
                        rowspan: 2
                    },
                    {
                        field: 'nextUserName',
                        title: '次担',
                        align: 'center',
                        width: 50,
                        rowspan: 2
                    },
                    {
                        field: 'actualCompleteDate',
                        title: '实际完成时间',
                        align: 'center',
                        width: 130,
                        rowspan: 2
                    },
                    {
                        field: '',
                        title: '创新或超越预期的成果展示',
                        align: 'center',
                        width: 600,
                        colspan: 3
                    },
                    {
                        field: 'auditNote',
                        title: '审核意见',
                        width: 130,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'note',
                        title: '备注',
                        width: 50,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'createName',
                        title: '编制人',
                        width: 50,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'createDate',
                        title: '编制日期',
                        width: 90,
                        align: 'center',
                        rowspan: 2
                    },
                ],
                [
                    {
                        field: 'oriTarget',
                        title: '原设定目标',
                        align: 'center',
                        width: 200
                    },
                    {
                        field: 'actualTarget',
                        title: '实际达成目标',
                        align: 'center',
                        width: 200
                    },
                    {
                        field: 'innovative',
                        title: '岗位开展的有价值的创新工作描述',
                        align: 'center',
                        width: 200
                    }
                ]
            ]
        });

        // 提交审核
        form.on('submit(confirm)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id);
            data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            layer.confirm('确定提交审核吗？', {icon: 3, title: '提示'}, function (index) {
                var excellentStateDetailIds = [];// 创建id数组，存放选择的数据id
                data.forEach(function (item) {// 循环选择的每一行字段数据
                    excellentStateDetailIds.push(item.id);// 放进ids
                });
                // 携带数据发送异步请求后端处理逻辑
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-excellent-state-detail/indexStatus',
                    data: {"excellentStateDetailIds": excellentStateDetailIds},
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.status === 200) {
                            table.reload('dataTable');
                            laydate.render(
                                {
                                    elem: this,
                                    //更换触发方式
                                    trigger: 'click',
                                    type: 'date',
                                    value: new Date()
                                });
                        }
                    }
                })
            });
            return false;
        });

        // 撤销审核
        form.on('submit(retreat)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id);
            data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            var excellentStateDetailIds = [];
            data.forEach(function (item) {
                excellentStateDetailIds.push(item.id);
            });

            layer.confirm('确定撤销审核吗？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-excellent-state-detail/retreat',
                    data: {
                        "excellentStateDetailIds": excellentStateDetailIds,
                    },
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.status === 200) {
                            table.reload('dataTable');
                            laydate.render(
                                {
                                    elem: this,
                                    //更换触发方式
                                    trigger: 'click',
                                    type: 'date',
                                    value: new Date()
                                });
                        }
                    }
                })
            });
            return false;
        });
    });

    // 部门查询下拉列表
    let departmentSelect = xmSelect.render({
        el: '#departmentSelect', // 绑定
        language: 'zn',
        data: [[${departmentNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '部门查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 20,
        style: {
            width: '250px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'departmentIds',// 传到后端选择的departmentId集合字符串
    });
</script>
