<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>履职计划表管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb">
            <a href="">首页</a> <a href="">绩效管理</a> <a href="">员工绩效管理</a>
            <a> <cite>履职计划表管理</cite></a>
		</span>
    <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="departmentSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="roleSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" id = "year" name="year" placeholder="申报年份查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="createDate" placeholder="编制日期查询" autocomplete="off"
                                   class="layui-input laydate search-laydate" id="createDate">
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="workEvents" placeholder="按流程（工作事件）查询"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="planOutput" placeholder="按表单查询"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="jobName" placeholder="按工作职责查询"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 80px;">
                            <input type="text" name="times" placeholder="按频次查询"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 80px;">
                            <input type="text" name="id" placeholder="按序号查询"
                                   autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 150px">
                            <label>
                                <select name="eventsFirstType">
                                    <option style="display: none" value="">请选择事务类型</option>
                                    <option value="事务类">事物类</option>
                                    <option value="非事务类">非事物类</option>
                                    <option value="新增工作流">新增工作流</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <label>
                                <select name="status">
                                    <option style="display: none" value="">请选择状态</option>
                                    <option value="待提交审核">待提交审核</option>
                                    <option value="待部长审核">待部长审核</option>
                                    <option value="待科长审核">待科长审核</option>
                                    <option value="待填报回顾">待填报回顾</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <label>
                                <select id = “mainOrNext” name="mainOrNext">
                                    <option style="display: none" value="">请选择主担/次担</option>
                                    <option value="主担">主担</option>
                                    <option value="次担">次担</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <div class="layui-inline layui-show-xs-block">
                                <button shiro:haspermission="system:performance:entryCasPlanDetail:import"
                                        class="layui-btn layui-btn-sm" lay-submit="" lay-filter="import">
                                    导入月度履职计划
                                </button>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="export"
                                        title="请选择查询条件进行导出状态为‘待填报回顾’履职计划">
                                    导出履职计划填报月底回顾
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="toolbar">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="confirm">提交审核
                                </button>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-submit=""
                                        lay-filter="retreat">撤销提交
                                </button>
                            </div>
                        </form>
                    </script>
                    <!--行工具栏-->
                    <script type="text/html" id="tool">
                        {{# if(d.status != '取消') {}}
                        <a lay-event="edit" title="修改"><i class="layui-icon">&#xe642;</i></a>
                        {{# } }}
                        <a lay-event="cancel" title="取消"><i class="layui-icon">&#x1007;</i></a>
                        {{# if(d.status == '待填报回顾') {}}
                        <a lay-event="createReview" title="新增单条履职回顾"><i class="layui-icon">&#xe608;</i></a>
                        {{# } }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        //年选择器
        laydate.render({
            elem: '#year'
            ,type: 'year'
        });



        // 导出
        form.on('submit(export)', function (data) {
            var field = data.field;
            data.field.status = '待填报回顾'
            field.url = "/system/entry-cas-plan-detail/downloadForCharge";
            var url = createUrl(field);
            layer.msg("正在导出事件列表，请稍候");
            window.open(url, true);
            return false;
        });

        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/entry-cas-plan-detail/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {
                status: '待提交审核'
            },
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 50,
                    },
                    {
                        field: 'id',
                        title: '序号',
                        width: 50
                    },
                    {
                        field: 'eventsId',
                        title: '对应事件清单序号',
                        width: 120,
                        fixed: 'left',
                        templet: function (d) {
                            let eventsId = d.eventsId;
                            if (!(eventsId === null || eventsId === "" || eventsId === undefined)) {
                                return d.eventsId
                            } else {
                                return "无"
                            }
                        }
                    },
                    {
                        field: 'status',
                        title: '履职计划状态',
                        width: 100,
                        templet: function (d) {
                            switch (d.status) {
                                case '待提交审核':
                                    return '<span class="layui-badge layui-bg">待提交审核</span>';
                                default:
                                    return d.status;
                            }
                        }
                    },
                    {
                        field: 'eventsFirstType',
                        title: '事件类型',
                        width: 80
                    },
                    {
                        field: 'jobName',
                        title: '工作职责',
                        width: 80
                    },
                    {
                        field: 'workEvents',
                        title: '流程（工作事件）',
                        width: 200,
                    },
                    {
                        field: 'planningWork',
                        title: '对应工作事件的计划内容',
                        width: 150
                    },
                    {
                        field: 'times',
                        title: '频次',
                        width: 50
                    },
                    {
                        field: 'planOutput',
                        title: '表单(输出内容)来源自己填写',
                        width: 180
                    },
                    {
                        field: 'planStartDate',
                        title: '计划开始日期',
                        width: 90
                    },
                    {
                        field: 'planEndDate',
                        title: '计划完成日期',
                        width: 90
                    },
                    {
                        field: 'eventsForm',
                        title: '绩效类型',
                        width: 80
                    },
                    {
                        field: 'standardValue',
                        title: '事件标准价值',
                        width: 80
                    },
                    {
                        field: 'mainOrNext',
                        title: '主担/次担',
                        width: 50
                    },
                    {
                        field: 'createDate',
                        title: '编制日期',
                        width: 90
                    },
                    {
                        field: 'departmentName',
                        title: '部门名称',
                        width: 80,
                    },
                    {
                        field: 'createDate',
                        title: '编制日期',
                        width: 80,
                    },
                    {
                        field: 'roleName',
                        title: '岗位（角色）名称',
                        width: 110
                    },
                    {
                        field: 'userName',
                        title: '员工姓名',
                        width: 80
                    },
                    {
                        field: 'applyDate',
                        title: '申报日期',
                        width: 80
                    },
                    {
                        field: 'year',
                        title: '申报年份',
                        width: 80
                    },
                    {
                        field: 'month',
                        title: '申报月份',
                        width: 80
                    },
                    {
                        field: 'createName',
                        title: '编制人',
                        width: 80
                    },
                    {
                        field: 'mergeNo',
                        title: '员工月度履职计划表编号',
                        width: 150
                    },
                    {
                        field: 'auditStatus',
                        title: '履职计划审核状态',
                        width: 120
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    }
                ]
            ]
        });

        form.on('submit(confirm)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id),
                data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            layer.confirm('确定提交审核吗？', {icon: 3, title: '提示'}, function (index) {
                var planDetailIds = [];// 创建id数组，存放选择的数据id
                data.forEach(function (item) {// 循环选择的每一行字段数据
                    planDetailIds.push(item.id);// 放进ids
                });
                // 携带数据发送异步请求后端处理逻辑
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-cas-plan-detail/indexStatus',
                    data: {"planDetailIds": planDetailIds},
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.status === 200) {
                            table.reload('dataTable');
                            laydate.render(
                                {
                                    elem: this,
                                    //更换触发方式
                                    trigger: 'click',
                                    type: 'date',
                                    value: new Date()
                                });
                        }
                    }
                })
            });
            return false;
        });

        form.on('submit(retreat)', function (data) {
            var checkStatus = table.checkStatus(dataTable.config.id),
                data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            let flag = false;
            let msg = "";
            var planDetailIds = [];
            data.forEach(function (item) {
                if (item.status == 5) {
                    msg = msg ? msg + ',' + item.noticeNo : item.noticeNo;
                    flag = true;
                }
                planDetailIds.push(item.id);
            });

            // if (flag) {
            //     layer.msg("开票通知单号为：" + msg + '的数据状态为财务审核通过不能撤销，请取消选择', {
            //         icon: 5,
            //         time: 4000
            //     });
            //     return false;
            // }

            layer.confirm('确定撤销审核吗？', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-cas-plan-detail/retreat',
                    data: {
                        "planDetailIds": planDetailIds,
                    },
                    success: function (result) {
                        layer.msg(result.msg);
                        if (result.status == 200) {
                            table.reload('dataTable');
                            laydate.render(
                                {
                                    elem: this,
                                    //更换触发方式
                                    trigger: 'click',
                                    type: 'date',
                                    value: new Date()
                                });
                        }
                    }
                })
            });
            return false;
        });

        // 导入按钮
        form.on('submit(import)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传履职计划表",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/entry-cas-plan-detail/attachment/import',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { // 修改
                // 不能修改取消状态下的事件请单
                if (data.status === '取消') {
                    layer.msg('不能修改取消状态下的事件请单');
                    return false;
                }
                layer.open({
                    type: 2,
                    title: '序号为' + data.id + '的履职计划明细信息修改',
                    area:
                        [
                            $(window).width() * 0.9 + 'px',
                            $(window).height() - 50 + 'px'
                        ],
                    content: '/system/entry-cas-plan-detail/edit/' + data.id,
                    maxmin: true,
                    scrollbar: true
                });
            } else if (obj.event === 'cancel') {
                layer.confirm('确定要取消序号为' + data.id + '履职计划明细吗？', function () {
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/system/entry-cas-plan-detail/cancel/' + data.id,
                            success: function (result) {
                                layer.msg(result.msg);
                                if (result.status === 200) {
                                    table.reload('dataTable');
                                }
                            }
                        })
                });
            }else if (obj.event === 'createReview') { // 填写履职回顾
                        layer.open({
                            type: 2,
                            title: '序号为' + data.id + '的履职回顾填写',
                            area:
                                [
                                    $(window).width() * 0.9 + 'px',
                                    $(window).height() - 50 + 'px'
                                ],
                            content: '/system/entry-cas-plan-detail/createReview/' + data.id,
                            maxmin: true,
                            scrollbar: true
                        });
                    }
        });

    });


    // 部门查询下拉列表
    let departmentSelect = xmSelect.render({
        el: '#departmentSelect', // 绑定
        language: 'zn',
        data: [[${departmentNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '部门查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 20,
        style: {
            width: '160px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'departmentIds',// 传到后端选择的departmentId集合字符串
    });

    // 岗位查询下拉列表
    let roleSelect = xmSelect.render({
        el: '#roleSelect', // 绑定
        language: 'zn',
        data: [[${roleNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '岗位查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 30,
        style: {
            width: '160px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'roleIds',// 传到后端选择的roleId集合字符串
    });
</script>
</body>
</html>
