<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>履职计划表管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb">
            <a href="">首页</a> <a href="">总部员工绩效</a> <a href="">履职回顾管理</a>
            <a> <cite>履职回顾-科长审核</cite></a>
		</span>
    <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height: 30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <!--部门下拉框-->
                        <div class="layui-inline layui-show-xs-block">
                            <div id="departmentSelect"></div>
                        </div>
                        <!--岗位下拉框-->
                        <div class="layui-inline layui-show-xs-block">
                            <div id="roleSelect"></div>
                        </div>
                        <!--用户下拉框-->
                        <div class="layui-inline layui-show-xs-block">
                            <div id="userSelect"></div>
                        </div>
                        <br>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="searchLeft" style="width: 251px">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTableLeft" lay-filter="dataTableLeft"></table>
                    <script type="text/html" id="toolbar1" th:inline="none">
                        <form class="layui-form layui-col-space5">
                        </form>
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-col-md10">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body ">
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" id="year" name="year" placeholder="申报年份查询" autocomplete="off"
                                   class="layui-input ">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="createDate" placeholder="编制日期" autocomplete="off"
                                   class="layui-input laydate search-laydate" id="createDate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <label>
                                <select id=“mainOrNext” name="mainOrNext">
                                    <option style="display: none" value="">请选择主担/次担</option>
                                    <option value="主担">主担</option>
                                    <option value="次担">次担</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 80px;">
                            <input type="text" name="times" placeholder="频次"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="dataTableRight" lay-filter="dataTableRight"></table>
                    <script type="text/html" id="toolbar">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <label class="layui-form-label"
                                       style="width: 110px; line-height: 1.1; padding: 9px 0px;">事物类评价等级&nbsp;&nbsp;</label>
                                <div class="layui-input-inline" style="width: 140px;">
                                    <select lay-filter="chargeTransactionEvaluateLevel"
                                            lay-verify="required"
                                            name="chargeTransactionEvaluateLevel"
                                            id="chargeTransactionEvaluateLevel">
                                        <option value="合格">合格</option>
                                        <option value="不合格">不合格</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-show-xs-block" id="choseHidden" style="display: none">
                                <label class="layui-form-label"
                                       style="width: 140px;  line-height: 1.1; padding: 9px 0px;">事物类评价不同类型&nbsp;&nbsp;</label>
                                <div class="layui-input-inline" style="width: 140px;">
                                    <select lay-filter="chargeTransactionBelowType"
                                            name="chargeTransactionBelowType"
                                            id="chargeTransactionBelowType">
                                        <option value="时间不合格">时间不合格</option>
                                        <option value="质量不合格">质量不合格</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm"
                                        lay-submit="" lay-filter="confirm">一键审核
                                </button>
                            </div>
                        </form>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate',
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 实例表格（左）
        var dataTableLeft = table.render({
            elem: '#dataTableLeft',
            id: 'dataTableLeft',
            url: "/system/entry-cas-review-detail/getObjectsByMap",
            page: true,
            totalRow: true,
            size: 'sm',
            width: '50px',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            where: {
                // 向controller传入额外参数
                eventsFirstType: '事务类',
                status: '待科长审核',
                groupByUserName: true
            },
            cols: [
                [
                    {
                        field: 'userName',
                        title: '员工姓名',
                        width: 250,
                        align:'center'
                    },
                ]
            ]
        });


        // 实例表格（右）
        var dataTableRight = table.render({
            elem: '#dataTableRight',
            id: 'dataTableRight',
            page: true,
            totalRow: true,
            size: 'sm',
            url: "/system/entry-cas-plan-detail/getObjects?isEmpty=true",
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {
                // 向controller传入额外参数
                eventsFirstType: '事务类',
                status: '待科长审核'
            },
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 50
                    },
                    {
                        field: 'auditNote',
                        title: '审核意见',
                        width: 130,
                        align: 'center',
                        edit: 'text',
                        event: 'auditNote',
                        style: 'cursor:pointer;background-color: pink;',
                        fixed: 'left'
                    },
                    {
                        field: 'actualCompleteDate',
                        title: '实际完成时间',
                        width: 90
                    },
                    {
                        field: 'completeDesc',
                        title: '工作完成描述',
                        width: 90
                    },
                    {
                        field: 'eventsFirstType',
                        title: '事件类型',
                        width: 80
                    },
                    {
                        field: 'jobName',
                        title: '工作职责',
                        width: 80
                    },
                    {
                        field: 'workEvents',
                        title: '流程（工作事件）',
                        width: 200,
                    },
                    {
                        field: 'planningWork',
                        title: '对应工作事件的计划内容',
                        width: 150
                    },

                    {
                        field: 'planOutput',
                        title: '表单(输出内容)来源自己填写',
                        width: 180
                    },
                    {
                        field: 'workOutput',
                        title: '表单',
                        width: 130
                    },
                    {
                        field: 'planStartDate',
                        title: '计划开始日期',
                        width: 90
                    },
                    {
                        field: 'planEndDate',
                        title: '计划完成日期',
                        width: 90
                    },
                    {
                        field: 'times',
                        title: '频次',
                        width: 50
                    },
                    {
                        field: 'status',
                        title: '履职计划状态',
                        width: 90
                    },
                    {
                        field: 'standardValue',
                        title: '事件标准价值',
                        width: 100,
                        align: 'center'
                    },
                    {
                        field: 'mainOrNext',
                        title: '主担/次担',
                        width: 90
                    },
                    {
                        field: 'note',
                        title: '备注',
                        width: 50
                    },
                    {
                        field: 'id',
                        title: '序号',
                        width: 50,
                    },
                    {
                        field: 'eventsId',
                        title: '对应事件清单序号',
                        width: 120,
                        templet: function (d) {
                            let eventsId = d.eventsId;
                            if (!(eventsId === null || eventsId === "" || eventsId === undefined)) {
                                return d.eventsId
                            } else {
                                return "无"
                            }
                        }
                    },
                ]
            ]
        });

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });

        //年选择器
        laydate.render({
            elem: '#year',
            type: 'year'
        });

        //事务类评价不同类型出现条件，根据
        form.on('select(chargeTransactionEvaluateLevel)', function (data) {
            let choseHidden = document.getElementById('choseHidden');
            if (data.value === "合格") {
                choseHidden.setAttribute('style', 'display:none')
            } else {
                choseHidden.removeAttribute('style')
            }
        });

        // 监听搜索按钮(左)
        form.on('submit(searchLeft)', function (data) {
            // 必填项控制
            var roleIds = data.field.roleIds;
            var userIds = data.field.userIds;
            var departmentIds = data.field.departmentIds;
            if (!roleIds && !userIds && !departmentIds) {
                layer.msg("请至少选择一项筛选条件", {icon: 5, time: 4000});
                return false;
            }
            // 重新加载表格
            table.reload('dataTableLeft', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        // 监听搜索按钮(右)
        form.on('submit(search)', function (data) {
            // 重新加载表格
            table.reload('dataTableRight', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });

        // 双击事件
        table.on('rowDouble(dataTableLeft)', function (obj) {
            let data = obj.data;
            // 重新加载表格
            table.reload('dataTableRight', {
                url: "/system/entry-cas-review-detail/getObjects?userNameRight=" + data.userName,
            });
        });

        // 导出
        form.on('submit(export)', function (data) {
            var field = data.field;
            field.url = "/system/entry-cas-review-detail/downloadForCharge";
            var url = createUrl(field);
            layer.msg("正在导出事件列表，请稍候");
            window.open(url, true);
            return false;
        });

        // 导入按钮
        form.on('submit(import)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传履职计划表",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/entry-cas-review-detail/attachment/import',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        // 一键审核
        form.on('submit(confirm)', function (data) {
            var checkStatus = table.checkStatus(dataTableRight.config.id);
            data = checkStatus.data;
            if (data.length <= 0) {
                layer.alert("请至少选择一行数据");
                return false;
            }
            layer.confirm('确定审核吗？', {icon: 3, title: '提示'}, function (index) {
                // 履职回顾id列表
                var entryReviewDetailIds = [];
                var auditNotes = [];

                data.forEach(function (item) {
                    entryReviewDetailIds.push(item.id);
                    auditNotes.push(item.auditNote);
                });
                layer.load();
                $.ajax({
                    type: 'POST',
                    url: '/system/entry-cas-review-detail/sectionBatchAudit',
                    data: {
                        'auditNotes': auditNotes,
                        'entryReviewDetailIds': entryReviewDetailIds,
                        'chargeTransactionEvaluateLevel': $('#chargeTransactionEvaluateLevel').find("option:selected").val(),
                        'chargeTransactionBelowType': $('#chargeTransactionBelowType').find("option:selected").val(),
                    },
                    success: function (result) {
                        layer.closeAll();
                        layer.msg(result.msg);
                        if (result.status === 200) {
                            table.reload('dataTableRight');
                        }
                    }
                });
            });
            return false;
        });
    });

    // 部门查询下拉列表
    let departmentSelect = xmSelect.render({
        el: '#departmentSelect', // 绑定
        language: 'zn',
        data: [[${departmentNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '部门查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 20,
        style: {
            width: '250px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'departmentIds',// 传到后端选择的departmentId集合字符串
    });

    // 岗位查询下拉列表
    let roleSelect = xmSelect.render({
        el: '#roleSelect', // 绑定
        language: 'zn',
        data: [[${roleNameList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '岗位查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 30,
        style: {
            width: '250px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'roleIds',// 传到后端选择的roleId集合字符串
    });

    // 员工姓名查询下拉列表
    let userSelect = xmSelect.render({
        el: '#userSelect', // 绑定
        language: 'zn',
        data: [[${userList}]],// model过来的
        filterable: true,
        // radio: true,// 是否是单选
        tips: '员工查询',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 30,
        style: {
            width: '250px', 'min-height': '28px', 'line-height': '28px',
        },
        name: 'userIds',// 传到后端选择的userId集合字符串
    });
</script>
</body>
</html>
