<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>履职总结的修改</title>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
</head>
<body>
<!-- 引入layui -->
<div th:replace="~{common/layui :: layui}"></div>
<!-- 引入layui -->
<div th:replace="~{common/layui :: layui}"></div>
<!-- 引入zTree -->
<div th:replace="~{common/zTree :: zTree}"></div>
<style type="text/css">
    #head .layui-form-label {
        width: 120px;
    }

    #head .layui-input-block {
        margin-left: 150px;
    }

    #head td, #head th {
        padding: 9px 0px;
        border: 0px;
    }

    #head .layui-input {
        height: 50px;
    }

    #head .layui-input-inline {
        padding-right: 8px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card-body">
        <form class="layui-form" style="margin-top: 10px;" id="head">
            <table class="layui-table layui-form" lay-size="sm">
                <colgroup>
                    <col width="80px">
                    <col width="160px">
                    <col width="80px">
                    <col width="160px">
                    <col width="80px">
                    <col width="160px">
                </colgroup>
            </table>
            <table class="layui-table layui-form" lay-size="sm">
                <tr>
                    <td style="text-align: left;width: 100px"><span style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;实际完成时间:
                    </td>
                    <td style="text-align: left">
                        <div class="layui-input-inline" style="width: 100%;text-align: left">
                            <input type="hidden" id="id" name="id" th:value="${entryCasReviewDetail.id}">
                            <input type="hidden" id="status" name="status" th:value="${entryCasReviewDetail.status}">
                            <input type="text" class="layui-input laydate" name="actualCompleteDate"
                                   id="actualCompleteDate" lay-verify="required" th:value="${entryCasReviewDetail.actualCompleteDate}"
                                   autocomplete="off" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;width: 50px"><span style='color: red; font-weight: bold'>*</span>&nbsp;工作完成描述：</td>
                    <td colspan="6">
                        <div class="layui-input-inline" style="width: 100%;text-align: left">
                            <textarea name="completeDesc" rowspan="3" class="layui-textarea" style="width: 100%">[[${entryCasReviewDetail.completeDesc}]]</textarea>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="layui-table layui-form" lay-size="sm">
                <tr>
                    <td colspan="4" style="text-align: center">
                        <button class="layui-btn" lay-submit id="create" lay-filter="baseForm">提交</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!--laui-->
<script th:inline="javascript">
    layui.use(['layer', 'form', 'laydate'], function () {
        var $ = layui.$
            , layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form;

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });

        // 提交
        form.on('submit(baseForm)', function (data) {
            var elem = data.elem;
            $(elem).addClass('layui-btn-disabled'); // 设置不可用状态样式，避免重复提交
            $(elem).attr('disabled', 'disabled'); // 设置不可用状态，避免重复提交
            $.ajax({
                url: '/system/entry-cas-review-detail/update?mark=reviewList',
                type: 'POST',
                data: data.field,
                success: function (result) {
                    if (result.status === 200) {
                        layer.msg(result.msg, {icon: 6, time: 1000});
                        setTimeout(function () {
                            parent.layui.table.reload('dataTable');
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 1000)
                    } else {
                        $(elem).removeClass('layui-btn-disabled'); // 提交失败修改回原来状态
                        $(elem).removeAttr('disabled'); // 提交失败修改回原来状态
                        layer.msg(result.msg, {icon: 5, time: 4000});
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</body>
</html>
