<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>年度投资项目清单管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">非权益性投资</a> <a href="">年度投资项目</a><a>
				<cite>年度投资项目清单管理</cite>
		</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                                style="line-height: 30px"></i></a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <input type="text" name="companyName" placeholder="企业名称" autocomplete="off"
                                   class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="year" placeholder="查询年份" id="year"
                                   autocomplete="off" class="layui-input laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button id="searchTree" class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <a class="layui-btn" lay-submit th:href="@{/export/project-list.xlsx}">
                                <i class="layui-icon">&#xe601</i>下载填写年度投资项目清单模板
                            </a>
                            <button shiro:hasPermission="system:operate:invest:ProjectAttachmentList:import"
                                    lay-submit lay-filter="import" class="layui-btn">导入年度投资项目清单
                            </button>
                            <button shiro:hasPermission="system:operate:invest:ProjectAttachmentList:importProjectList"
                                    lay-submit lay-filter="importProjectList" class="layui-btn"
                                    title="导出">导出年度投资项目清单
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
                        <a lay-event="detail" title="年度投资项目清单数据明细"><i class="layui-icon">&#xe63c;</i></a>
                        <a lay-event="edit" title="修改年度投资项目清单数据信息"><i class="layui-icon">&#xe642;</i></a>
                        <a lay-event="delete" title="删除年度投资项目清单数据信息"><i class="layui-icon">&#xe640;</i></a>
                        <a lay-event="upload" title="年度投资项目附件上传"><i class="layui-icon">&#xe681;</i></a>
                    </script>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="create">新增单条年度投资项目</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
        // 重新重置日期控件
        laydate.render({
            elem : '#year',
            trigger : 'click',
            type : 'year',
            value : moment().format("YYYY")
        });

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });



        // 实例表格
        const title = '年度投资项目清单';
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/operate/invest/invest-project-year/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            cols: [
                [

                    {
                        field: 'index',
                        title: '编号',
                        fixed: 'left',
                        type: 'numbers',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'projectName',
                        title: '项目名称',
                        fixed: 'left',
                        width: 60
                    },
                    {
                        field: 'year',
                        title: '年份',
                        fixed: 'left',
                        width: 60
                    },
                    {
                        field: 'month',
                        title: '月份',
                        fixed: 'left',
                        width: 60
                    },
                    {
                        field: 'companyName',
                        title: '企业名称',
                        fixed: 'left',
                        width: 150
                    },
                    {
                        field: 'companyId',
                        title: '企业ID',
                        width: 120
                    },
                    {
                        field: 'companyShortName',
                        title: '企业名称简称',
                        width: 120
                    },

                    {
                        field: 'projectSource',
                        title: '项目来源:年度计划,临时新增',
                        width: 120
                    },
                    {
                        field: 'projectType',
                        title: '项目类别：自动化、质量改善',
                        width: 120
                    },
                    {
                        field: 'projectClass',
                        title: '项目投资类型:重点项目、一般项目',
                        width: 120
                    },
                    {
                        field: 'projectAbstract',
                        title: '项目简介',
                        width: 120
                    },
                    {
                        field: 'investmentVolumePlan',
                        title: '计划投资额',
                        width: 120
                    },
                    {
                        field: 'investmentVolumeActual',
                        title: '实际投资额',
                        width: 120
                    },
                    {
                        field: 'respManager',
                        title: '企业分管经理人',
                        width: 120
                    },
                    {
                        field: 'projectContact',
                        title: '项目联络人',
                        width: 120
                    },
                    {
                        field: 'projectSrartDatePlan',
                        title: '项目开始时间计划',
                        width: 120
                    },
                    {
                        field: 'projectSrartDateActual',
                        title: '项目开始时间实际',
                        width: 120
                    },
                    {
                        field: 'projectEndDatePlan',
                        title: '项目结束时间计划',
                        width: 120
                    },
                    {
                        field: 'projectEndDateActual',
                        title: '项目结束时间实际',
                        width: 120
                    },
                    {
                        field: 'currentProjectStatus',
                        title: '项目当前所处阶段',
                        width: 120
                    },
                    {
                        field: 'projectFeasibilityStudyReport',
                        title: '可研报告状态',
                        width: 120
                    },
                    {
                        field: 'committeeAuditStatus',
                        title: '经委会审批状态',
                        width: 120
                    },
                    {
                        field: 'boardAuditStatus',
                        title: '董事会审批状态',
                        width: 120
                    },
                    {
                        field: 'projectFinishStatus',
                        title: '项目完成状态',
                        width: 120
                    },
                    {
                        field: 'projectRiskStatus',
                        title: '项目风险状态',
                        width: 120
                    },
                    {
                        field: 'projectEvalStatus',
                        title: '项目评价状态',
                        width: 120
                    },
                    {
                        field: 'projectSelfEvalStatus',
                        title: '项目自评状态',
                        width: 120
                    },
                    {
                        field: 'businessUnit',
                        title: '所属产业单元',
                        width: 120
                    },
                    {
                        field: 'productLineName',
                        title: '涉及生产线名称',
                        width: 120
                    },
                    {
                        field: 'productLineId',
                        title: '涉及生产线Id',
                        width: 120
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    }
                ]
            ]
        });
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            // 重新加载表格
            table.reload('dataTable',
                {
                    where: data.field,
                    page:
                        {
                            curr: 1
                        }
                });
            return false;
        });

        // 导入按钮
        form.on('submit(import)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传事件清单附件",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/operate/invest/ProjectAttachmentList/import',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });


        // 监听导出按钮
        form.on('submit(importProjectList)', function (data) {
            var field = data.field;
            var year = data.field.year;
            if (!year) {
                layer.msg("年度为必须项，请选择年度", {icon: 5, time: 4000});
                return false;
            }
            field.url = "/system/operate/invest/ProjectList/downloadProjectList";
            var url = createUrl(field);
            layer.msg("正在导出项目列表，请稍候");
            window.open(url, true);
            return false;
        });

        // 监听头工具栏事件
        table.on('toolbar(dataTable)', function (obj) {
            if (obj.event === 'create') {

                // 弹出添加页面
                layer.open(
                    {
                        type: 2,
                        title: '新增单条年度投资项目',
                        area:
                            [
                                $(window).width() * 0.9 + 'px',
                                $(window).height() - 50 + 'px'
                            ],
                        content: '/system/operate/invest/invest-project-year/create',
                        scrollbar: true,
                        maxmin: true
                    });
            }
        });

        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { // 修改
                layer.open({
                    type: 2,
                    title:data.year + '年的企业经理人定性绩效信息修改',
                    area: [
                        $(window).width() * 0.9 + 'px',
                        $(window).height() - 50 + 'px'
                    ],
                    content: '/system/operate/invest/invest-project-year/edit/' + data.id,
                    maxmin: true
                });
            } else if (obj.event === 'delete') { // 删除
                layer.confirm('确认删除年份为：' + data.year + '的项目进度计划跟踪表信息吗？', function () {
                    $.ajax({
                        type: 'DELETE',
                        url: '/system/operate/invest/invest-project-year/' + data.id,
                        success: function (result) {
                            layer.msg(result.msg);
                            if (result.status === 200) {
                                table.reload('dataTable');
                            }
                        }
                    })
                });
            }else if (obj.event === 'detail') {//分数下钻，查看经理人的分数组成
                // console.log("list" + data.month)
                layer.open({
                    type : 2,
                    title : data.year + '年' + '--的各项分数信息如下:',
                    area : [
                        $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
                    ],
                    //①获取需要查看的此条记录的指定数据
                    content : '/system/operate/invest/invest-project-year/search-detail?id=' + data.id  + '&companyName='+ data.companyName+ '&year='+ data.year+ '&projectName='+ data.projectName+ '&month='+ data.month,
                    maxmin : true
                });
            }else if (obj.event === 'upload'){
                layer.open({
                    type : 2,
                    title : '项目名称为'+data.projectName+'的附件上传',
                    area : [
                        $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
                    ],
                    content : '/system/operate/invest/invest-project-year/upload/id='+data.id,
                    maxmin : true
                });
            }
        });
    });
</script>
</body>
</html>
