<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>经理人绩效月度推移</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">经理人绩效管理</a> <a href="">经理人绩效月度推移</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                              style="line-height: 30px"></i>
</a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="managerName" placeholder="经理人姓名" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 250px;">
                            <div id="companyNameSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="year" placeholder="查询年份" id="year"
                                   autocomplete="off" class="layui-input laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
                    </script>
                    <script type="text/html" id="toolbar">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
        // 重新重置日期控件
        laydate.render({
            elem : '#year',
            trigger : 'click',
            type : 'year',
            value : moment().format("YYYY")
        });
        //获取指定input的value的两种方法
        // var obj = $("#year").val();
        // // var obj = $('input[name=year]').val();
        // console.log(obj)
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            table.reload('dataTable', {
                // 重新加载表格
                url: "/system/performance/manager_kpi/manager-kpi-month-score-old/getObjects",
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        //企业名称下拉框
        let companyNameSelect = xmSelect.render({
            el: '#companyNameSelect',
            language: 'zn',
            data: [[${companyNameList}]],
            filterable: true,
            // radio: true,
            tips: '公司名称查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 20,
            style: {
                width: '250px', 'min-height': '28px', 'line-height': '28px',
            },
            // clickClose: true,
            name: 'companyIds',
        });
        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            //修改地方4,获取数据,在viewController
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 100,
            limits: [100, 200, 500],
            toolbar: '#toolbar',
            cols: [
                [
                    {
                        field: 'index',
                        title: '编号',
                        fixed: 'left',
                        type: 'numbers',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'companyName',
                        title: '企业名称',
                        align: 'center',
                        fixed: 'left',
                        width: 120
                    },
                    {
                        field: 'managerName',
                        title: '经理人姓名',
                        align: 'center',
                        fixed: 'left',
                        width: 120
                    },
                    {
                        field: 'position',
                        title: '职务',
                        align: 'center',
                        fixed: 'left',
                        width: 80,
                    },
                    {
                        field: 'year',
                        title: '年份',
                        align: 'center',
                        fixed: 'left',
                        width: 80
                    },
                    {
                        field: 'month1', title: '1月', width: 80,align: 'center',sort: true,event:'month1',
                        templet: function (d) {
                            if (d.abnormal1 === 1) {
                                return "<span class=\"layui-badge\">"+d.month1+"</span>";
                            } else if (d.abnormal1 === 0) {
                                return d.month1;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month2', title: '2月', width: 80,align: 'center',sort: true,event:'month2',
                        templet: function (d) {
                            if (d.abnormal2 === 1) {
                                return "<span class=\"layui-badge\">"+d.month2+"</span>";
                            } else if (d.abnormal2 === 0) {
                                return d.month2;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month3', title: '3月', width: 80,align: 'center',sort: true,event:'month3',
                        templet: function (d) {
                            if (d.abnormal3 === 1) {
                                return "<span class=\"layui-badge\">"+d.month3+"</span>";
                            } else if (d.abnormal3 === 0) {
                                return d.month3;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month4', title: '4月', width: 80,align: 'center',sort: true,event:'month4',
                        templet: function (d) {
                            if (d.abnormal4 === 1) {
                                return "<span class=\"layui-badge\">"+d.month4+"</span>";
                            } else if (d.abnormal4 === 0) {
                                return d.month4;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month5', title: '5月', width: 80,align: 'center',sort: true,event:'month5',
                        templet: function (d) {
                            if (d.abnormal5 === 1) {
                                return "<span class=\"layui-badge\">"+d.month5+"</span>";
                            } else if (d.abnormal5 === 0) {
                                return d.month5;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month6', title: '6月', width: 80,align: 'center',sort: true,event:'month6',
                        templet: function (d) {
                            if (d.abnormal6 === 1) {
                                return "<span class=\"layui-badge\">"+d.month6+"</span>";
                            } else if (d.abnormal6 === 0) {
                                return d.month6;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month7', title: '7月', width: 80,align: 'center',sort: true,event:'month7',
                        templet: function (d) {
                            if (d.abnormal7 === 1) {
                                return "<span class=\"layui-badge\">"+d.month7+"</span>";
                            } else if (d.abnormal7 === 0) {
                                return d.month7;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month8', title: '8月', width: 80,align: 'center',sort: true,event:'month8',
                        templet: function (d) {
                            if (d.abnormal8 === 1) {
                                return "<span class=\"layui-badge\">"+d.month8+"</span>";
                            } else if (d.abnormal8 === 0) {
                                return d.month8;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month9', title: '9月', width: 80,align: 'center',sort: true,event:'month9',
                        templet: function (d) {
                            if (d.abnormal9 === 1) {
                                return "<span class=\"layui-badge\">"+d.month9+"</span>";
                            } else if (d.abnormal9 === 0) {
                                return d.month9;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month10', title: '10月', width: 80,align: 'center',sort: true,event:'month10',
                        templet: function (d) {
                            if (d.abnormal10 === 1) {
                                return "<span class=\"layui-badge\">"+d.month10+"</span>";
                            } else if (d.abnormal10 === 0) {
                                return d.month10;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month11', title: '11月', width: 80,align: 'center',sort: true,event:'month11',
                        templet: function (d) {
                            if (d.abnormal11 === 1) {
                                return "<span class=\"layui-badge\">"+d.month11+"</span>";
                            } else if (d.abnormal11 === 0) {
                                return d.month11;
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'month12', title: '12月', width: 80,align: 'center',sort: true,event:'month12',
                        templet: function (d) {
                            if (d.abnormal12 === 1) {
                                return "<span class=\"layui-badge\">"+d.month12+"</span>";
                            } else if (d.abnormal12 === 0) {
                                return d.month12;
                            } else {
                                return "";
                            }
                        }
                    }
                ]
            ]
        });


        // 监听表格单击事件
        table.on('tool(dataTable)', function(obj)
        {
            // 行数据
            var data = obj.data;
            var url = '';
            for (var i = 1; i < 13; i++) {
                if (obj.event === 'month' + i) {
                    url = '/system/performance/manager_kpi/view-manager-kpi-month-score/search-detail?month=' + i + '&year=' + data.year + '&companyName=' + data.companyName + '&managerName=' + data.managerName;
                    break;
                }
            }
            // 打开生产计划查询页面
            if (url) {
                xadmin.open(data.managerName+'---月份分数详情', url);
            }
        });
        //界面初始化的时候进行加载
        $(document).ready(function() {
            console.log($("#year").val())
            table.reload('dataTable', {
                url: "/system/performance/manager_kpi/manager-kpi-month-score-old/getObjects?year=" + moment().format("YYYY"),
                // where: data.field,
                page: {
                    curr: 1
                }
            });
        })
    });
</script>
</body>
</html>
