<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>经理人绩效报表1</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">经理人绩效管理</a> <a href="">经理人绩效报表1</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                              style="line-height: 30px"></i>
</a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="managerName" placeholder="经理人姓名" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <input type="text" name="companyName" placeholder="企业名称" autocomplete="off"
                                   class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="year" placeholder="年份" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">

                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>

<!--                            <button class="layui-btn layui-btn-sm" style="margin-left: 0px;" lay-submit-->
<!--                                    lay-filter="downloadForCharge" title="导出查看数据">导出-->
<!--                            </button>-->
                        </div>
<!--                        <div class="layui-inline layui-show-xs-block">-->
<!--                            修改地方1,导入路径对应viewController-->
<!--                            <button shiro:haspermission="system:performance:manager_kpi:view-manager-kpi-month-score:index"-->
<!--                                    class="layui-btn layui-btn-sm" lay-submit="" lay-filter="import"-->
<!--                                    title="确认导入附件">导入附件-->
<!--                            </button>-->
<!--                        </div>-->
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
<!--                        <a lay-event="detail" title="经理人分数信息明细"><i class="layui-icon">&#xe63c;</i></a>-->
<!--                        <a lay-event="edit" title="经理人分数信息修改"><i class="layui-icon">&#xe642;</i></a>-->
<!--                        <a lay-event="delete" title="删除经理人分数信息"><i class="layui-icon">&#xe640;</i></a>-->
                    </script>
                    <script type="text/html" id="toolbar">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            var companyName = data.field.companyName;
            var year =data.field.year;
            var month =data.field.month;
            if(companyName == "")
            {
                layer.msg("公司名称未空!");
                return false;
            }
            if (year == ""){
                layer.msg("年份为空！");
                return false;
            }
            if (managerName == ""){
                layer.msg("经理人名称为空！");
                return false;
            }
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        // //监听导出按钮
        // form.on('submit(downloadForCharge)', function (data) {
        //     var field = data.field;
        //     //修改地方2,导出方法在viewController
        //     field.url = "/system/performance/manager_kpi/view-manager-kpi-month-score/downloadForCharge";
        //     var url = createUrl(field);
        //     layer.msg("正在导出经理人绩效报表，请稍候");
        //     window.open(url, true);
        //     return false;
        // });
        // // 导入按钮
        // form.on('submit(import)', function (data) {
        //     var createLayer = layer.open({
        //         type: 2,
        //         title: "上传经理人绩效报表附件",
        //         area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
        //         //修改地方3,导入方法在viewController
        //         content: '/system/performance/manager_kpi/view-manager-kpi-month-score/index',
        //         scrollbar: true,
        //         maxmin: true,
        //     });
        //     return false;
        // });
        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            //修改地方4,获取数据,在viewController
            url: "/system/performance/manager_kpi/manager-kpi-month-score-old/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 60
                    },
                    {
                        field: 'companyName',
                        title: '企业名称',
                        align: 'center',
                        fixed: 'left',
                        width: 120
                    },
                    {
                        field: 'managerName',
                        title: '经理人姓名',
                        align: 'center',
                        fixed: 'left',
                        width: 120
                    },
                    {
                        field: 'position',
                        title: '职务',
                        align: 'center',
                        fixed: 'left',
                        width: 80,
                    },
                    {
                        field: 'year',
                        title: '年份',
                        align: 'center',
                        fixed: 'left',
                        width: 80
                    },
                    {
                        field: 'month1',
                        title: '1月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month2',
                        title: '2月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month3',
                        title: '3月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month4',
                        title: '4月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month5',
                        title: '5月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month6',
                        title: '6月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month7',
                        title: '7月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month8',
                        title: '8月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month9',
                        title: '9月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month10',
                        title: '10月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month11',
                        title: '11月',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'month12',
                        title: '12月',
                        align: 'center',
                        width: 80
                    }
                ]
            ]
        });



    //     // 监听行工具事件
    //     table.on('tool(dataTable)', function (obj) {
    //         // 修改页面
    //         var data = obj.data;//获取当前行数据
    //         console.log(data)
    //         if (obj.event === 'edit') {
    //             layer.open({
    //                 type: 2,
    //                 title: data.managerName + '的各项分数信息如下:',
    //                 area: [
    //                     $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
    //                 ],
    //                 content: '/system/performance/manager_kpi/view-manager-kpi-month-score/edit?id=' + data.id + '&managerName=' + data.managerName + '&month=' + data.month + '&year=' + data.year,
    //                 maxmin: true
    //             });
    //         } else if (obj.event === 'delete') { // 删除
    //             layer.confirm('确认删除【' + data.managerName + '】的分数记录信息吗？', function () {
    //                 $.ajax({
    //                     type: 'DELETE',
    //                     url: '/system/performance/manager_kpi/view-manager-kpi-month-score/' + data.id,
    //                     success: function (result) {
    //                         layer.msg(result.msg);
    //                         if (result.status == 200) {
    //                             table.reload('dataTable');
    //                         }
    //                     }
    //                 })
    //             });
    //         } else if (obj.event === 'detail') {//分数下钻，查看经理人的分数组成
    //             // console.log("list" + data.month)
    //             layer.open({
    //                 type : 2,
    //                 title : data.managerName + '的各项分数信息如下:',
    //                 area : [
    //                     $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
    //                 ],
    //                 //①获取需要查看的此条记录的指定数据
    //                 content : '/system/performance/manager_kpi/view-manager-kpi-month-score/search-detail?month=' + data.month + '&year=' + data.year + '&companyName=' + data.companyName + '&managerName=' + data.managerName,
    //                 maxmin : true
    //             });
    //         }
    //     })
    });
</script>
</body>
</html>
