<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>查看指定经理人的分数组成</title>
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-form">
			<h3 style="margin: 5px;text-align:center">主要分数组成</h3>
			<table class="layui-table" lay-size="sm">
				<tr>
					<td style="text-align:center">经营绩效分数</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" readonly th:value="${managerKpiScoreOld['businessScore']}">
						</div>
					</td>
					<td style="text-align:center">激励约束分数</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" readonly th:value="${managerKpiScoreOld['incentiveScore']}">
						</div>
					</td>
				</tr>
				<tr>
					<td style="text-align:center">难度系数</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" readonly th:value="${managerKpiScoreOld['difficultyCoefficient']}">
						</div>
					</td>
					<td style="text-align:center">本月最终得分</td>
					<td>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" readonly th:value="${managerKpiScoreOld['scoreAdjust']}">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="layui-col-md12">
<!--			<div class="layui-card">-->
			<h3 style="margin: 5px;text-align:center">本月KPI详情</h3>
			<div class="layui-card-body ">
				<table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
			</div>
			<script type="text/html" id="toolbar"></script>
			<script th:inline="javascript">
				layui.use([
					'table', 'form', 'layer', 'laydate'
				], function() {
					var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
				// 实例表格
				table.render(
				{
					elem : '#dataTable',
					id : 'dataTable',
					//③在弹出页面将获取到的此条记录的值交给数据库去查
					url : "/system/performance/manager_kpi/view-manager-kpi-month-score/getManagerScoreData?month=" + [[${month}]] + '&year=' + [[${year}]] + '&companyName=' + [[${companyName}]] + '&managerName=' + [[${managerName}]],
					totalRow: true,
					size: 'sm',
					// height : 'full-100' ,// 设置高度，使数据置于滚动条控制下,
					// toolbar: '#toolbar',
					// defaultToolbar:['filter'],
					page:false,
					cols:
						[
							[
								{
									field: 'managerName',
									title: '经理人姓名',
									align: 'center',
									fixed: 'left',
									width: 120
								},
								{
									field: 'projectType',
									title: '重点工作',
									align: 'center',
									fixed: 'left',
									width: 120,
								},
								{
									field: 'projectDesc',
									title: '管理项目',
									align: 'center',
									fixed: 'left',
									width: 200,
								},
								{
									field: 'monthScoreAdjust',
									title: '月度得分',
									align: 'center',
									fixed: 'left',
									width: 80
								},
								{
									field: 'proportion',
									title: '权重',
									align: 'center',
									fixed: 'left',
									width: 80
								},
								{
									field: 'kpiFormula',
									title: '管理项目定义',
									align: 'center',
									width: 130,
								},
								{
									field: 'unit',
									title: '单位',
									align: 'center',
									width: 80
								},
								{
									field: 'dataSource',
									title: '数据来源部门',
									align: 'center',
									width: 100
								},
								{
									field: 'benchmarkCompany',
									title: '标杆企业名称',
									align: 'center',
									width: 130,
								},
								{
									field: 'benchmarkValue',
									title: '标杆值',
									align: 'center',
									width: 100
								},
								{
									field: 'pastThreeYearsActual',
									title: '过去第三年值',
									align: 'center',
									width: 100
								},
								{
									field: 'pastTwoYearsActual',
									title: '过去第二年值',
									align: 'center',
									width: 100
								},
								{
									field: 'pastOneYearActual',
									title: '过去第一年值',
									align: 'center',
									width: 100
								},
								{
									field: 'basicTarget',
									title: '基本目标',
									align: 'center',
									width: 80
								},
								{
									field: 'mustInputTarget',
									title: '必达目标',
									align: 'center',
									width: 80,
								},
								{
									field: 'reachTarget',
									title: '达标目标',
									align: 'center',
									width: 80
								},
								{
									field: 'challengeTarget',
									title: '挑战目标',
									align: 'center',
									width: 80
								},
								{
									field: 'monthTarget',
									title: '月度目标',
									align: 'center',
									width: 80
								},
								{
									field: 'monthActualValue',
									title: '月度实绩',
									align: 'center',
									width: 80
								},
								{
									field: 'accumulateTarget',
									title: '目标累积值',
									align: 'center',
									width: 80
								},
								{
									field: 'accumulateActual',
									title: '实际完成累积值',
									align: 'center',
									width: 100
								},
								{
									field: 'analyzeRes',
									title: '分析结果',
									align: 'center',
									width: 80
								}
							]
						]
					});
				});
			</script>
<!--			</div>-->
		</div>
	</div>
</div>
</body>
</html>