<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>月度定量绩效分析</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">企业经理人绩效</a><a href="">定量绩效</a> <a href="">月度定量绩效分析</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                              style="line-height: 30px"></i>
</a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 250px;">
                            <div id="companyNameSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="year" placeholder="年份" autocomplete="off" id="year"
                                   class="layui-input laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <select name="month" id="month">
                                <option value="">月份</option>
                                <option value="1">1月</option>
                                <option value="2">2月</option>
                                <option value="3">3月</option>
                                <option value="4">4月</option>
                                <option value="5">5月</option>
                                <option value="6">6月</option>
                                <option value="7">7月</option>
                                <option value="8">8月</option>
                                <option value="9">9月</option>
                                <option value="10">10月</option>
                                <option value="11">11月</option>
                                <option value="12">12月</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <select name="projectType" id="projectType">
                                <option value="">指标类别查询</option>
                                <option value="激励约束项目">激励约束项目</option>
                                <option value="经营管理指标">经营管理指标</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="projectDesc" placeholder="项目名称查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="evaluateMode" id="evaluateMode">
                                <option value="">评分方式</option>
                                <option value="系统评分">系统评分</option>
                                <option value="人工评分">人工评分</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="status" id="status">
                                <option value="未锁定">项目状态查询</option>
                                <option value="已锁定">已锁定</option>
                                <option value="未锁定">未锁定</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn layui-btn-sm"
                                        lay-submit="" lay-filter="confirmScore">自动生成分数
                                </button>
                            </div>
                            <button class="layui-btn layui-btn-sm" style="margin-left: 0px;" lay-submit
                                    lay-filter="downloadForCharge" title="年度调整指标库，导出数据修改">导出人工评分项目
                            </button>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button shiro:haspermission="system:performance:manager_kpi:view-manage-month-score:index"
                                    class="layui-btn layui-btn-sm" lay-submit="" lay-filter="import">导入人工评分表
                            </button>
                        </div>
                    </div>

                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
                        <a lay-event="edit" title="修改经营管理月度项目分数信息"><i class="layui-icon">&#xe642;</i></a>
                    </script>
                    <script type="text/html" id="toolbar">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
        // 重新重置日期控件
        laydate.render({
            elem : '#year',
            trigger : 'click',
            type : 'year',
            // value : moment().format("YYYY")
        });
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        //监听导出按钮
        form.on('submit(downloadForCharge)', function (data) {
            console.log(data.field)
            var field = data.field;
            var companyIds = data.field.companyIds;
            var year =data.field.year;
            var month =data.field.month
            if(companyIds == "")
            {
                layer.msg("公司名称未空!");
                return false;
            }
            if (year == ""){
                layer.msg("年份为空！");
                return false;
            }
            if (month == ""){
                layer.msg("月份为空！");
                return false;
            }
            field.url = "/system/performance/manager_kpi/view-manage-month-score/downloadForCharge";
            var url = createUrl(field);
            layer.msg("正在导出人工评分表，请稍候");
            window.open(url, true);
            return false;
        });
        // 导入按钮
        form.on('submit(import)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传人工评分表",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/performance/manager_kpi/view-manage-month-score/index',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        //监听生成分数按钮
        form.on('submit(confirmScore)', function (data) {
            // console.log(data.field)
            var field = data.field;
            var companyIds = data.field.companyIds;
            var year =data.field.year;
            var month =data.field.month
            if(companyIds == "")
            {
                layer.msg("公司名称未空!");
                return false;
            }
            if (year == ""){
                layer.msg("年份为空！");
                return false;
            }
            if (month == ""){
                layer.msg("月份为空！");
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/system/performance/manager_kpi/view-manage-month-score/updateScore',
                data: {
                    'companyName': field.companyName,
                    'year': field.year,
                    'projectType': field.projectType,
                    'month': field.month,

                },
                success: function (result) {
                    layer.closeAll();
                    layer.msg(result.msg);
                    if (result.status === 200) {
                        table.reload('dataTable');
                    }
                }
            });
            return false;
        });
        //企业名称下拉框
        let companyNameSelect=xmSelect.render({
            el: '#companyNameSelect',
            language: 'zn',
            data: [[${companyNameList}]],
            filterable: true,
            // radio: true,
            tips: '公司名称查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 20,
            style: {
                width: '250px', 'min-height': '28px', 'line-height': '28px',
            },
            // clickClose: true,
            name: 'companyIds',
        })
        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/performance/manager_kpi/view-manage-month-score/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {
                status: '未锁定',
                // evaluateMode: '系统评分',
                monthActualValue: true
            },
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 80
                    },
                    {
                        field: 'index',
                        title: '编号',
                        fixed: 'left',
                        type: 'numbers',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'companyName',
                        title: '企业名称',
                        fixed: 'left',
                        width: 150
                    },
                    {
                        field: 'status',
                        title: '项目状态',
                        fixed: 'left',
                        width: 80,
                    },
                    {
                        field: 'projectType',
                        title: '指标类别',
                        fixed: 'left',
                        width: 150
                    },
                    {
                        field: 'projectDesc',
                        title: '项目名称',
                        fixed: 'left',
                        width: 150
                    },
                    {
                        field: 'unit',
                        title: '单位',
                        width: 50
                    },
                    {
                        field: 'year',
                        title: '年份',
                        width: 50
                    },
                    {
                        field: 'basicTarget',
                        title: '基本目标',
                        width: 80,
                    },
                    {
                        field: 'mustInputTarget',
                        title: '必达目标',
                        width: 80
                    },
                    {
                        field: 'reachTarget',
                        title: '达标目标',
                        width: 80
                    },
                    {
                        field: 'challengeTarget',
                        title: '挑战目标',
                        width: 80
                    },
                    {
                        field: 'month',
                        title: '月份',
                        width: 80
                    },
                    {
                        field: 'monthTarget',
                        title: '目标值',
                        width: 100
                    },
                    {
                        field: 'monthActualValue',
                        title: '实绩值',
                        width: 100,
                    },
                    {
                        field: 'accumulateTarget',
                        title: '目标累计值',
                        width: 100
                    },
                    {
                        field: 'accumulateActual',
                        title: '实际累计值',
                        width: 100
                    },
                    {
                        field: 'analyzeRes',
                        title: '岗位分析',
                        width: 100
                    },
                    {
                        field: 'scoreAuto',
                        title: '自动生成分数',
                        width: 130
                    },
                    {
                        field: 'scoreAdjust',
                        title: '人工评分',
                        width: 130
                    },
                    {
                        field: 'targetLevelActual',
                        title: '达标情况',
                        width: 100
                    },
                    {
                        field: 'scoreAdjustCause',
                        title: '分数修改原因',
                        width: 130
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    }
                ]
            ]
        });
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            // 重新加载表格
            table.reload('dataTable',
                {
                    where: data.field,
                    page:
                        {
                            curr: 1//data.file
                        }
                });
            return false;
        });
        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            console.log("viewList"+data.id)
            if (obj.event === 'edit') { // 修改
                layer.open({
                    type: 2,
                    title: '名称为：' + data.projectDesc + '的经营管理月度项目分数信息修改',
                    area: [
                        $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
                    ],
                    content: '/system/performance/manager_kpi/view-manage-month-score/edit?id=' + data.id,
                    maxmin: true
                });
            }
        });
    });
</script>
</body>
</html>
