<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>添加用户</title>
</head>
<body>
	<!-- 引入layui -->
	<div th:replace="~{common/layui :: layui}"></div>
	<style type="text/css">
#head .layui-form-label {
	width: 120px;
}

#head .layui-input-block {
	margin-left: 150px;
}
</style>
	<form id="head" class='layui-form' style="margin: 20px;"
		lay-filter="data">
		<div class="layui-form-item">
			<label class="layui-form-label"><span
				style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;姓名</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="name" placeholder="名字"
					autocomplete="off" lay-verify="required" lay-reqText="姓名为必填项">
			</div>
			<label class="layui-form-label"><span
				style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;账号</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="account"
					placeholder="登录账号" autocomplete="off" lay-verify="required"
					lay-reqText="账号为必填项">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span
				style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;密码</label>
			<div class="layui-input-inline">
				<input type="password" class="layui-input" name="password"
					placeholder="密码" autocomplete="off" lay-verify="required|pass"
					lay-reqText="密码为必填项">
			</div>
			<label class="layui-form-label"><span
				style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;电话</label>
			<div class="layui-input-inline">
				<input type="number" class="layui-input" name="phone"
					placeholder="电话" autocomplete="off" lay-verify="required|phone"
					lay-reqText="电话为必填项">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"> <span
				style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;确认密码
			</label>
			<div class="layui-input-inline">
				<!-- autocomplete当用户在字段开始键入时，浏览器基于之前键入过的值，应该显示出在字段中填写的选项 -->
				<input type="password" name="repass" required="" autocomplete="off"
					class="layui-input" placeholder="密码确认">
			</div>
			<label class="layui-form-label">&nbsp;&nbsp;身份证号</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="IDNumber"
					placeholder="身份证号" autocomplete="off">
			</div>
		</div>

		<div class="layui-input-block">
			<button shiro:hasPermission="manage:user:store" class="layui-btn" lay-submit lay-filter="userForm">提交</button>
		</div>

	</form>

	<script>

    layui.use(['layer', 'form', 'laydate'], function () {
      var $ = layui.$
          , layer = layui.layer
          , laydate = layui.laydate
          , form = layui.form;

      // 表单验证
      form.verify({
        pass: function (value, item) {
          var reg = /^[\S]{6,12}$/;
          if (!reg.test(value)) {
            return '密码必须6到12位，且不能出现空格';
          }
        },
        repass: function (value) {
          if ($('input[name=password]').val() != $('input[name=repass]').val()) {
            return '两次密码不一致';
          }
        }
      });

      form.on('submit(userForm)', function (data) {
        var elem = data.elem;
        $(elem).addClass('layui-btn-disabled'); // 设置不可用状态样式，避免重复提交
        $(elem).attr('disabled', 'disabled'); // 设置不可用状态，避免重复提交
        $.ajax({
          url: '/manage/user/store',
          type: 'POST',
          headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
          data: data.field,
          success: function (result) {
            if (result.status == 200) {
              layer.msg(result.msg, {icon: 6, time: 2000});
              setTimeout(function () {
                parent.layui.table.reload('dataTable');
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
              }, 2000);
            } else {
              $(elem).removeClass('layui-btn-disabled'); // 提交失败修改回原来状态
              $(elem).removeAttr('disabled'); // 提交失败修改回原来状态
              layer.msg(result.msg, {icon: 5, time: 4000});
            }
          }
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
      });
    });
  </script>
</body>
</html>