<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>修改经营公司补充信息</title>
<script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
</head>
<body>
	<!-- 引入layui -->
	<div th:replace="~{common/layui :: layui}"></div>
	<style type="text/css">
#head .layui-form-label {
	width: 120px;
}
</style>
	<form id="head" class='layui-form' style="margin: 20px;" lay-filter="data">
		<div class="layui-form-item">
			<label class="layui-form-label"><span style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;公司名称</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="name" placeholder="公司名称" autocomplete="off"
					lay-verify="required" lay-reqText="公司名称为必填项" th:value="${manageCompany['name']}"
					disabled="disabled">
			</div>
			<label class="layui-form-label"><span style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;公司代码</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="code" placeholder="公司代码" autocomplete="off"
					lay-verify="required" lay-reqText="公司代码为必填项" th:value="${manageCompany['code']}"
					disabled="disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;公司简称</label>
			<div class="layui-input-inline">
				<input type="hidden" name="id" th:value="${manageCompany['id']}" /> <input type="text"
					class="layui-input" name="shortName" placeholder="公司简称" autocomplete="off"
					lay-reqText="公司简称为必填项" th:value="${manageCompany['shortName']}">
			</div>
			<label class="layui-form-label"><span style='color: red; font-weight: bold'>*</span>&nbsp;&nbsp;管理公司</label>
			<div class="layui-input-inline">
				<div id="companySelect"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-inline">
				<textarea name="note" rowspan="3" class="layui-textarea" style="width: 100%" th:text="${manageCompany['note']}"></textarea>
			</div>
		</div>
		<div class="layui-input-block" style="margin-left: 120px;">
			<button shiro:hasPermission="operate:analysis:manage:company:update" class="layui-btn" lay-submit
				lay-filter="dataForm">提交</button>
		</div>

	</form>

	<script th:inline="javascript">
		layui.use([
			'layer', 'form', 'laydate'
		], function() {
			var $ = layui.$, layer = layui.layer, laydate = layui.laydate, form = layui.form;

			// 每个标签加一个class，名为laydate
			$(".laydate").each(function() {
				laydate.render({
					elem : this,
					//更换触发方式
					trigger : 'click',
					type : 'month'
				});
			});

			form.on('submit(dataForm)', function(data) {
				var elem = data.elem;
				$(elem).addClass('layui-btn-disabled'); // 设置不可用状态样式，避免重复提交
				$(elem).attr('disabled', 'disabled'); // 设置不可用状态，避免重复提交
				$.ajax({
					url : '/operate/analysis/manage-company/update',
					type : 'PUT',
					headers : {
						'X-CSRF-TOKEN' : $('meta[name="csrf-token"]').attr('content')
					},
					data : data.field,
					success : function(result) {
						if (result.status == 200) {
							layer.msg(result.msg, {
								icon : 6,
								time : 2000
							});
							setTimeout(function() {
								parent.layui.table.reload('dataTable');
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);
							}, 2000);
						}
						else {
							$(elem).removeClass('layui-btn-disabled'); // 提交失败修改回原来状态
							$(elem).removeAttr('disabled'); // 提交失败修改回原来状态
							layer.msg(result.msg, {
								icon : 5,
								time : 4000
							});
						}
					}
				});
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
			
			xmSelect.render({
        el: '#companySelect',
        language: 'zn',
        data: [[${companyList}]],
        filterable: true,
        radio: true,//是否单选
        tips: '请选择管理公司',
        toolbar: {
            show: true
        },
        paging: true, // 分页
        pageSize: 20,
        clickClose: true,
        layVerify: 'required',
        layVerType: '管理公司不能为空',
        style: {
            'min-height': '28px', 'line-height': '28px',
        },
        name: 'basicCompanyId',
    	});

		});
	</script>
</body>
</html>