<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>经营指标管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">经理人绩效管理</a> <a href="">经营指标管理</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                              style="line-height: 30px"></i>
</a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 250px;">
                            <div id="companyNameSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="yearMonth" placeholder="查询年月份" id="yearMonth"
                                   autocomplete="off" class="layui-input laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <select name="projectType" id="projectType">
                                <option value="">指标类别查询</option>
                                <option value="激励约束项目">激励约束项目</option>
                                <option value="经营管理指标">经营管理指标</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="projectDesc" placeholder="项目名称查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="dataSource" placeholder="数据来源部门查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <button class="layui-btn layui-btn-sm" style="margin-left: 0px;" lay-submit
                                    lay-filter="downloadForCharge" title="填写经营管理月度实绩项目，导出数据修改">导出月度实绩填报模板
                            </button>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button shiro:haspermission="system:performance:manager_kpi:view-manage-year:yearIndex"
                                    class="layui-btn layui-btn-sm" lay-submit="" lay-filter="yearImport">导入年度经营管理指标附件
                            </button>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button shiro:haspermission="system:performance:manager_kpi:view-manage-month-aim:monthAimIndex"
                                    class="layui-btn layui-btn-sm" lay-submit="" lay-filter="monthAimImport">导入月度目标附件
                            </button>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button shiro:haspermission="system:performance:manager_kpi:view-manage-month-performance:monthPerformanceIndex"
                                    class="layui-btn layui-btn-sm" lay-submit="" lay-filter="monthPerformanceImport">
                                导入月度实绩附件
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
                        <a lay-event="edit" title="修改经营管理月度实绩项目信息"><i class="layui-icon">&#xe642;</i></a>
                    </script>
                    <script type="text/html" id="toolbar">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
        // 重新重置日期控件
        laydate.render({
            elem : '#yearMonth',
            trigger : 'click',
            type : 'month',
            value : moment().subtract(3,"months").format("YYYY-MM")
        });
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                },
            });
            return false
        });
        //企业名称下拉框
        let companyNameSelect = xmSelect.render({
            el: '#companyNameSelect',
            language: 'zn',
            data: [[${companyNameList}]],
            filterable: true,
            // radio: true,
            tips: '公司名称查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 20,
            style: {
                width: '250px', 'min-height': '28px', 'line-height': '28px',
            },
            // clickClose: true,
            name: 'companyIds',
        });
        //监听导出按钮
        form.on('submit(downloadForCharge)', function (data) {
            var field = data.field;
            var companyName = data.field.companyName;
            var year = data.field.year;
            var month = data.field.month;
            if (companyName === "") {
                layer.msg("公司名称未空!");
                return false;
            }
            if (year === "") {
                layer.msg("年份为空！");
                return false;
            }
            if (month === "") {
                layer.msg("月份为空！");
                return false;
            }
            field.url = "/system/performance/manager_kpi/view-manage-month-performance/downloadForCharge";
            var url = createUrl(field);
            layer.msg("正在导出经营管理月度实绩指标，请稍候");
            window.open(url, true);
            return false;
        });
        // 经营管理年度导入按钮
        form.on('submit(yearImport)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传经营管理年度指标",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/performance/manager_kpi/view-manage-month-performance/yearIndex',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        // 月度目标导入按钮
        form.on('submit(monthAimImport)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传经营管理月度目标",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/performance/manager_kpi/view-manage-month-performance/monthAimIndex',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        // 月度实绩导入按钮
        form.on('submit(monthPerformanceImport)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "上传经营管理月度实绩指标",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/performance/manager_kpi/view-manage-month-performance/monthPerformanceIndex',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });
        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/performance/manager_kpi/view-manage-month-performance/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            where: {month: '12'},
            cols: [
                [
                    {
                        type: 'checkbox',
                        fixed: 'left',
                        width: 60,
                        rowspan: 2
                    },
                    {
                        field: 'index',
                        title: '编号',
                        fixed: 'left',
                        type: 'numbers',
                        align: 'center',
                        width: 80
                    },
                    {
                        field: 'companyName',
                        title: '企业名称',
                        width: 150,
                        align: 'center',
                        rowspan: 2,
                        fixed: 'left'
                    },
                    {
                        field: 'projectType',
                        title: '指标类别',
                        align: 'center',
                        width: 130,
                        rowspan: 2,
                        fixed: 'left'
                    },
                    {
                        field: 'projectDesc',
                        title: '指标名称',
                        align: 'center',
                        width: 130,
                        rowspan: 2,
                        fixed: 'left'
                    },
                    {
                        field: 'kpiDefinition',
                        title: '管理项目定义',
                        align: 'center',
                        width: 170,
                        rowspan: 2,
                    },
                    {
                        field: 'dataSource',
                        title: '数据来源部门',
                        align: 'center',
                        width: 100,
                        rowspan: 2,
                    },
                    {
                        field: 'unit',
                        title: '单位',
                        align: 'center',
                        width: 80,
                        rowspan: 2
                    },
                    {
                        title: '项目对标标杆',
                        colspan: 2,
                        width: 230,
                        align: 'center',
                    },
                    {
                        field: 'year',
                        title: '年份',
                        width: 80,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        title: '前三年实绩',
                        colspan: 3,
                        width: 300,
                        align: 'center',
                    },
                    {
                        title: '当年目标值',
                        colspan: 4,
                        width: 320,
                        align: 'center',
                    },
                    {
                        title: '管理指标月度完成情况',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        field: 'monthAnalyzeRes',
                        title: '未达成或劣化原因分析',
                        width: 170,
                        rowspan: 2
                    },
                    {
                        field: 'managerKpiMark',
                        title: '经理人绩效指标标识',
                        width: 150,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'evaluateMode',
                        title: '评分模式',
                        width: 80,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'monitorDepartment',
                        title: '监控部门名称',
                        width: 120,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        field: 'monitorUser',
                        title: '监控人姓名',
                        width: 100,
                        align: 'center',
                        rowspan: 2
                    },
                    {
                        title: '一月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '二月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '三月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '四月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '五月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '六月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '七月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '八月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '九月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '十月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '十一月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    },
                    {
                        title: '十二月',
                        colspan: 2,
                        width: 160,
                        align: 'center',
                    }
                    // {
                    //     fixed: 'right',
                    //     title: '操作',
                    //     width: 80,
                    //     align: 'center',
                    //     toolbar: '#tool',
                    //     rowspan: 2
                    // }
                ],
                [
                    //项目对标标杆
                    {
                        field: 'benchmarkCompany',
                        title: '对标企业名称',
                        align: 'center',
                        width: 130
                    },
                    {
                        field: 'benchmarkValue',
                        title: '标杆值',
                        align: 'center',
                        width: 100
                    },
                    //前三年实绩
                    {
                        field: 'pastThreeYearsActual',
                        title: 'n-3年值',
                        align: 'center',
                        width: 100,
                    },
                    {
                        field: 'pastTwoYearsActual',
                        title: 'n-2年值',
                        align: 'center',
                        width: 100,
                    },
                    {
                        field: 'pastOneYearActual',
                        title: 'n-1年值',
                        align: 'center',
                        width: 100,
                    },
                    //2021年目标值
                    {
                        field: 'basicTarget',
                        title: '基本目标',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'mustInputTarget',
                        title: '必达目标',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'reachTarget',
                        title: '达标目标',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'challengeTarget',
                        title: '挑战目标',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //管理指标月度完成情况
                    {
                        field: 'monthATarget',
                        title: '累计目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthAActual',
                        title: '累计实绩值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //一月
                    {
                        field: 'monthTarget1',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual1',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //二月
                    {
                        field: 'monthTarget2',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual2',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //三月
                    {
                        field: 'monthTarget3',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual3',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //四月
                    {
                        field: 'monthTarget4',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual4',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //五月
                    {
                        field: 'monthTarget5',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual5',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //六月
                    {
                        field: 'monthTarget6',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual6',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //七月
                    {
                        field: 'monthTarget7',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual7',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //八月
                    {
                        field: 'monthTarget8',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual8',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //九月
                    {
                        field: 'monthTarget9',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual9',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //十月
                    {
                        field: 'monthTarget10',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual10',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //十一月
                    {
                        field: 'monthTarget11',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual11',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    //十二月
                    {
                        field: 'monthTarget12',
                        title: '目标值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                    {
                        field: 'monthActual12',
                        title: '实际值',
                        align: 'center',
                        width: 80,
                        // rowspan: 2
                    },
                ]
            ]
        });
        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            // 重新加载表格
            table.reload('dataTable',
                {
                    where: data.field,
                    page:
                        {
                            curr: 1
                        }
                });
            return false;
        });
        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { // 修改
                layer.open({
                    type: 2,
                    title: '序号为：' + data.manageKpiYearId + '的经营管理月度实绩指标信息修改',
                    area: [
                        $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
                    ],
                    content: '/system/performance/manager_kpi/manage-kpi-month-performance/edit?manageKpiYearId=' + data.manageKpiYearId,
                    maxmin: true
                });
            }
        });
    });
</script>
</body>
</html>
