<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>事件关联岗位数据管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <<a href="">首页</a> <a href="">总部员工绩效</a> <a href="">基础事件管理</a>
			<a> <cite>事件清单岗位关系导入</cite></a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                                style="line-height: 30px"></i>
</a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <!--部门下拉框-->
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="departmentSelect"></div>
                        </div>
                        <!--角色下拉框-->
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="roleSelect"></div>
                        </div>
                        <!--用户下拉框-->
                        <div class="layui-inline layui-show-xs-block" style="width: 160px;">
                            <div id="userSelect"></div>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <label class="layui-form-label"
                                   style="width: 60px; line-height: 1.1; padding: 9px 10px 9px 0px;">编制日期</label>
                            <input
                                    type="text" name="createDateStart" placeholder="编制日期起" id="createDateStart"
                                    autocomplete="off" class="layui-input laydate search-laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="createDateEnd" placeholder="编制日期止" id="createDateEnd"
                                   autocomplete="off" class="layui-input laydate search-laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <label class="layui-form-label"
                                   style="width: 60px; line-height: 1.1; padding: 9px 10px 9px 0;">生效日期</label>
                            <input
                                    type="text" name="activeDateStart" placeholder="生效日期起" id="activeDateStart"
                                    autocomplete="off" class="layui-input laydate search-laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="activeDateEnd" placeholder="生效日期止" id="activeDateEnd"
                                   autocomplete="off" class="layui-input laydate search-laydate">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="year" id="year" placeholder="编制年份查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <label for="month">
                                <select name="month" id="month">
                                    <option selected value="">请选择编制月份</option>
                                    <option th:each="i:${#numbers.sequence(1,12)}" th:value="${i}">[[${i}]]月</option>
                                </select>
                            </label>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="jobName" id="jobName" placeholder="工作职责查询" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="workEvents" id="workEvents" placeholder="工作事件查询"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 140px;">
                            <select name="status" id="status">
                                <option selected value="">请选择状态</option>
                                <option value="待导出填报计划">待导出填报计划</option>
                                <option value="完结">完结</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 140px">
                            <select name="eventsFirstType" id="eventsFirstType">
                                <option value="" selected>请选择事件类型</option>
                                <option value="事务类">事务类</option>
                                <option value="非事务类">非事务类</option>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <button shiro:hasPermission="system:performance:employee:event:role:attachment:show"
                                    class="layui-btn layui-btn-sm" style="margin-left: 0px;" lay-submit
                                    lay-filter="showImport">导入事件岗位关系
                            </button>
                            <!--<button class="layui-btn layui-btn-sm" style="margin-left: 0px;" lay-submit
                                    lay-filter="downloadForCharge" title="状态‘完结’事件清单，可以导出">导出事件清单填报履职计划
                            </button>-->
                        </div>
                    </div>
                </form>
                <div class="layui-card-body">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <!--行工具栏-->
                    <script type="text/html" id="tool">
                        <a lay-event="createCasPlan" title="单条填写履职计划"><i class="layui-icon">&#xe608;</i></a>
                    </script>
                    <script type="text/html" id="toolbar">
                        <form class="layui-form layui-col-space5">
                            <div class="layui-inline layui-show-xs-block">
                                <span style="font-size: xx-small;color: grey">导入数据规范：1.相同基础事件的占比相加必须等于【1】 2.相同基础事件的生效日期必须相同  &nbsp;3.生效日期必须是之前没有导入成功过的日期</span>
                            </div>
                        </form>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });
        //年选择器
        laydate.render({
            elem: '#year'
            , type: 'year'
        });

        // 实例表格
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/performance/employee/events-relation-role/getObjects",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [
                50, 100, 200, 500
            ],
            toolbar: '#toolbar',
            where: {
                idDesc: true
            },
            cols: [
                [
                    {
                        field: 'status',
                        width: 120,
                        title: '状态',
                        align: 'center',
                        fixed: 'left',
                        templet: function (d) {
                            return `<span class="layui-badge layui-bg-green">${d.status}</span>`
                        }
                    },
                    {
                        field: 'departmentName',
                        title: '部门名称',
                        width: 90,
                        align: "center"
                    },
                    {
                        field: 'office',
                        title: '科室名称',
                        width: 90,
                        align: "center"
                    },
                    {
                        field: 'roleName',
                        title: '岗位名称',
                        width: 80,
                        align: "center"
                    },
                    {
                        field: 'userName',
                        title: '职员名称',
                        width: 80,
                        align: "center"
                    },
                    {
                        field: 'jobName',
                        title: '工作职责',
                        width: 130
                    },
                    {
                        field: 'workEvents',
                        title: '工作事件',
                        width: 250
                    },
                    {
                        field: 'eventsFirstType',
                        title: '事件类型',
                        width: 70,
                        align: "center"
                    },
                    {
                        field: 'standardValue',
                        title: '事件标准价值',
                        width: 90,
                        align: 'center'
                    },

                    {
                        field: 'proportion',
                        title: '比重',
                        width: 50,
                        align: "center"
                    },
                    {
                        title: '比重后价值分',
                        width: 90,
                        align: "center",
                        templet: function (d) {
                            let number = d.proportion * d.standardValue;
                            number = number.toFixed(2)
                            return `<span class="layui-badge layui-bg-blue">${number}</span>`
                        }
                    },
                    {
                        field: 'isMainOrNext',
                        title: '主/次担',
                        width: 80,
                        align: "center"
                    },

                    {
                        field: 'activeDate',
                        title: '生效日期',
                        width: 100,
                        align: "center",
                        templet: function (d) {
                            return `<span class="layui-badge-rim">${d.activeDate}</span>`
                        }
                    },
                    {
                        field: 'createDate',
                        title: '编制日期',
                        width: 100,
                        align: "center"
                    },
                    {
                        field: 'year',
                        title: '编制年份',
                        width: 80,
                        align: "center"
                    },
                    {
                        field: 'month',
                        title: '编制月份',
                        width: 80,
                        align: "center"
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    },
                ]
            ]
        });

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });

        // 导入按钮
        form.on('submit(showImport)', function (data) {
            var createLayer = layer.open({
                type: 2,
                title: "事件岗位关系附件管理",
                area: [$(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'],
                content: '/system/performance/employee/events-role-attachment/show',
                scrollbar: true,
                maxmin: true,
            });
            return false;
        });

        // 监听导出按钮
        form.on('submit(downloadForCharge)', function (data) {
            var field = data.field;
            // 导出参数设置-只导出完结状态下的数据-status=“完结”
            data.field.status = '完结';
            var userIds = data.field.userIds;
            // 必填项控制，必须选择用户名进行导出
            if (!userIds) {
                layer.msg("请点击职员名称选择后导出", {icon: 5, time: 4000});
                return false;
            }
            field.url = "/system/performance/employee/events-relation-role/downloadForCharge";
            var url = createUrl(field);
            layer.msg("正在导出事件列表，请稍候");
            window.open(url, true);
            return false;
        });
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'createCasPlan') { // 填写履职回顾
                layer.open({
                    type: 2,
                    title: '序号为' + data.id + '的履职计划填写',
                    area:
                        [
                            $(window).width() * 0.9 + 'px',
                            $(window).height() - 50 + 'px'
                        ],
                    content: '/system/performance/employee/events-relation-role/createCasPlan/' + data.id,
                    maxmin: true,
                    scrollbar: true
                });
            }
        });

        // 部门查询下拉列表
        let departmentSelect = xmSelect.render({
            el: '#departmentSelect', // 绑定
            language: 'zn',
            data: [[${departmentNameList}]],// model过来的
            filterable: true,
            // radio: true,// 是否是单选
            tips: '部门查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 20,
            style: {
                width: '160px', 'min-height': '28px', 'line-height': '28px',
            },
            name: 'departmentIds',// 传到后端选择的departmentId集合字符串
        });

        // 岗位查询下拉列表
        let roleSelect = xmSelect.render({
            el: '#roleSelect', // 绑定
            language: 'zn',
            data: [[${roleNameList}]],// model过来的
            filterable: true,
            // radio: true,// 是否是单选
            tips: '岗位查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 30,
            style: {
                width: '160px', 'min-height': '28px', 'line-height': '28px',
            },
            name: 'roleIds',// 传到后端选择的roleId集合字符串
        });

        // 职员名称查询下拉列表
        let userSelect = xmSelect.render({
            el: '#userSelect', // 绑定
            language: 'zn',
            data: [[${userList}]],// model过来的
            filterable: true,
            //radio: true,// 是否是单选
            tips: '职员查询',
            toolbar: {
                show: true
            },
            paging: true, // 分页
            pageSize: 30,
            style: {
                width: '160px', 'min-height': '28px', 'line-height': '28px',
            },
            name: 'userIds',// 传到后端选择的userId集合字符串
        });
    });
</script>
</body>
</html>
