<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>基础营业执照信息管理</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div th:replace="~{common/jquery :: jquery}"></div>
<!-- 引入xadmin -->
<div th:replace="~{common/xadmin :: xadmin}"></div>
<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">企业管理</a> <a href="">企业基础营业执照管理</a>
		</span> <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right"
                   onclick="location.reload()" title="刷新"> <i class="layui-icon layui-icon-refresh"
                                                              style="line-height: 30px"></i>
</a>
</div>
<!-- 引入xadmin -->

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form layui-col-space5">
                    <div class="layui-card-body">
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <input type="text" name="companyName" placeholder="被投资公司名称" autocomplete="off"
                                   class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="businessLicenseDocName" placeholder="营业执照附件名称" id="businessLicenseDocName"
                                   autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="changeProject" placeholder="变更项目" id="changeProject"
                                   autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="changeBefore" placeholder="变更前" id="changeBefore"
                                   autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 120px;">
                            <input type="text" name="changeAfter" placeholder="变更后" id="changeAfter"
                                   autocomplete="off" class="layui-input">
                        </div>


                        <div class="layui-inline layui-show-xs-block">
                            <label class="layui-form-label"
                                   style="width: 60px; line-height: 1.1; padding: 9px 10px 9px 0px;">编制日期</label>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <input type="text" name="changeTimeStart" placeholder="变更时间起" id="changeTimeStart"
                                   autocomplete="off" class="layui-input laydate">
                        </div>

                        <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                            <input type="text" name="changeTimeEnd" placeholder="变更时间止" id="changeTimeEnd"
                                   autocomplete="off" class="layui-input laydate">
                        </div>


                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit lay-filter="search">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="dataTable" lay-filter="dataTable"></table>
                    <script type="text/html" id="tool">
                        <a shiro:hasPermission="system:company:license:upload" lay-event="upload" title="企业基础营业执照上传"><i class="layui-icon">&#xe681;</i></a>
                        <a shiro:hasPermission="system:company:license:edit" lay-event="edit" title="修改企业基础营业执照信息"><i class="layui-icon">&#xe642;</i></a>
                        <a shiro:hasPermission="system:company:license:delete" lay-event="delete" title="删除企业基础营业执照信息"><i class="layui-icon">&#xe640;</i></a>
                    </script>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button shiro:hasPermission="system:company:license:create"  class="layui-btn layui-btn-sm" lay-event="create">新增</button>
                        </div>
                    </script>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">
    layui.use([
        'table', 'form', 'layer', 'laydate'
    ], function () {
        var $ = layui.$, table = layui.table, form = layui.form, layer = layui.layer, laydate = layui.laydate;
        // 重新重置日期控件
        laydate.render({
            elem : '#year',
            trigger : 'click',
            type : 'year',
            value : moment().format("YYYY")
        });

        // 每个标签加一个class，名为laydate
        $(".laydate").each(function () {
            laydate.render(
                {
                    elem: this,
                    //更换触发方式
                    trigger: 'click',
                    type: 'date'
                });
        });

        // 监听搜索按钮
        form.on('submit(search)', function (data) {
            console.log(data.field)
            // 重新加载表格
            table.reload('dataTable', {
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false
        });

        // 监听头工具栏事件
        table.on('toolbar(dataTable)', function (obj) {

            /**
             * 弹出添加页面
             */
            var date = obj.date;
            if (obj.event === 'create') {
                layer.open({
                    type: 2,
                    title: '添加基础出资方明细信息',
                    area: [
                        $(window).width() * 0.7 + 'px', $(window).height() - 200 + 'px'
                    ],
                    content: '/system/company/license/create',
                    scrollbar: true,
                    // 设置点击遮盖关闭
                    // shadeClose: true,
                    maxmin: true
                });
            }
        });

        // 实例表格
        const title = '企业基础营业执照信息';
        var dataTable = table.render({
            elem: '#dataTable',
            id: 'dataTable',
            url: "/system/company/license/getObject",
            page: true,
            totalRow: true,
            size: 'sm',
            height: 'full-100', // 设置高度，使数据置于滚动条控制下
            limit: 50,
            limits: [50, 100, 200, 500],
            toolbar: '#toolbar',
            cols: [
                [
                    {
                        field: 'companyId',
                        title: '被投资公司ID',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'companyName',
                        title: '被投资公司名称',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'contributionsDocId',
                        title: '出资文件ID',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'businessLicenseDocId',
                        title: '营业执照附件ID',
                        align: 'center',
                        width: 150
                    },

                    {
                        field: 'businessLicenseDocName',
                        title: '营业执照附件名称',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'changeTime',
                        title: '变更时间',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'changeProject',
                        title: '变更项目',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'changeBefore',
                        title: '变更前法人',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'changeAfter',
                        title: '变更后法人',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'status',
                        title: '营业执照信息状态',
                        align: 'center',
                        width: 120
                    },
                    {
                        field: 'attachmentList',
                        title: '材料附件',
                        width: 100,
                        rowspan: 2,
                        templet : function(d) {
                            if (!d.attachmentList || d.attachmentList.length === 0) {
                                return '';
                            } else {
                                var element = '';
                                for (var i = 0; i < d.attachmentList.length; i++) {
                                    var attachment = d.attachmentList[i];
                                    element = element + '<a href="/system/config/attachment/downloadFile?id=' + attachment.attachmentId + '&md5Path='
                                        + attachment.md5Path + '" target="_blank" title="' + attachment.filename
                                        + '"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>';
                                }
                                return element;
                            }
                        }
                    },
                    {
                        fixed: 'right',
                        title: '操作',
                        width: 100,
                        align: 'center',
                        toolbar: '#tool'
                    }
                ]

            ]
        });

        // 监听行工具事件
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { // 修改
                layer.open({
                    type: 2,
                    title:data.companyName + '的基础营业执照修改',
                    area: [
                        $(window).width() * 0.7 + 'px', $(window).height() - 200 + 'px'
                    ],
                    content: '/system/company/license/edit?id=' + data.id,
                    maxmin: true
                });
            }else if (obj.event === 'upload'){
                layer.open({
                    type : 2,
                    title : '公司名称为：【'+data.companyName+'】附件上传',
                    area : [
                        $(window).width() * 0.9 + 'px', $(window).height() - 50 + 'px'
                    ],
                    content : '/system/company/license/upload/'+data.id,
                    maxmin : true
                });
            } else if (obj.event === 'delete') { // 删除
                layer.confirm('确认删除公司为：' + data.companyName + '的基础营业执照吗？', function () {
                    $.ajax({
                        type: 'DELETE',
                        url: '/system/company/license/' + data.id,
                        success: function (result) {
                            layer.msg(result.msg);
                            if (result.status == 200) {
                                table.reload('dataTable');
                            }
                        }
                    })
                });
            }
        });
    });
</script>
</body>
</html>
